
Calculator/bin/Debug/net8.0/Calculator.dll
Calculator/bin/Debug/net8.0/Calculator.exe
Calculator/bin/Debug/net8.0/Calculator.pdb
Calculator/obj/Calculator.csproj.nuget.dgspec.json
Calculator/obj/project.nuget.cache
Calculator/obj/Debug/net8.0/apphost.exe
Calculator/obj/Debug/net8.0/Calculator.assets.cache
Calculator/obj/Debug/net8.0/Calculator.csproj.FileListAbsolute.txt
Calculator/obj/Debug/net8.0/Calculator.dll
Calculator/obj/Debug/net8.0/Calculator.GeneratedMSBuildEditorConfig.editorconfig
Calculator/obj/Debug/net8.0/Calculator.pdb
Calculator/obj/Debug/net8.0/Calculator.sourcelink.json
Calculator/obj/Debug/net8.0/ref/Calculator.dll
Calculator/obj/Debug/net8.0/refint/Calculator.dll
